---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Projects from "../data/projects.json";
const projectsList = Projects.all;
import "../style/main.scss";
---

<Layout title="Projects">
  <Header />
  <main class="projects">
    <section id="project_list">
      {
        projectsList.map((project, index) => (
          <Card project={project} index={index} />
        ))
      }
    </section>
  </main>
  <Footer />
</Layout>
<style lang="scss">
  body {
    margin: 0 20%;
  }

  @media screen and (max-width: 1000px) {
    body {
      margin: 0 2% !important;
    }
    .header,
    .footer {
      margin-top: 5px !important;
    }
  }
</style>
