
* {
  transition: background-color ease-in-out 250ms;
}

html {
  font-family: 'B612', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img {
  display: block;
  //width: 100%;
}

h3 {
  font-weight: 100;
  margin: 0 !important;
  color: #333;
  font-size: 1.5rem;
  line-height: 1.4;
}

p {
  color: #595352;
}

ul {
  padding-left: 2rem;
}

a {
  color: #0e76de;
  &:not([class]) {
    text-decoration: underline;
  }
  &:hover {
    color: #0f6ecd;
  }
}

.reverse-0 {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1000px) {
  .reverse-0 {
    flex-direction: column !important;
  }
}

/* Scrollbar tings */

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 100px;
  .dark & {
    background: #3c3c3c;
  }
}

::-webkit-scrollbar-track {
  background: #f6f6f6;
  .dark & {
    background: #171717;
  }
}
