---
import Navigation from "../data/navigation.json";
const header = Navigation.header;
import "../style/components/button.scss";
import { Image } from "astro:assets";
---

<header class="header">
  <div id="header-teleport"></div>
  <canvas id="fun-canvas"></canvas>
  <nav>
    <div class="header_content">
      <a class="home" href="/">
        <Image
          width="300"
          height="100"
          src={import("../data/images/icons/btr.svg")}
          alt="Home"
        />
      </a>
      <div class="header_content-links">
        {
          header.map((link) => (
            <a href={link.link} aria-current={Astro.url.pathname === link.link}>
              <button>{link.name}</button>
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</header>

<style lang="scss" is:global>
  .header {
    overflow: hidden;
    position: relative;
    box-shadow:
      0 8px 25px 0 rgba(0, 0, 0, 0.1),
      0 0 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    .dark & {
      background-color: rgb(33 33 33);
    }
    .header_content {
      height: 100px;
      padding: 15px 20px 15px 20px;
      display: flex;
      align-items: center;
      .home {
        z-index: 2;
      }
      img {
        .dark & {
          filter: invert(1);
        }
      }
      .header_content-links {
        display: flex;
        flex-flow: wrap;
        align-items: center;
      }
    }
    &:has(#header-teleport > *) {
      #fun-canvas {
        display: none;
      }
    }
  }

  #header-teleport {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transform: scale(1.2);
    overflow: hidden;
    opacity: 0.2;
    pointer-events: none;
    animation: delayShow 1.5s;
    .dark & {
      opacity: 0.2;
    }
    > * {
      max-height: 100%;
    }
    &:empty {
      display: none;
    }
  }

  #fun-canvas {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    animation: fadein 12.5s;
    border-radius: 8px;
  }

  @keyframes delayShow {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 85%;
    }
  }

  @media screen and (max-width: 1200px) {
    .header {
      margin: 12px 0 0 0;
    }
  }

  @media screen and (max-width: 570px) {
    .header {
      img {
        margin: 0 auto;
        width: -webkit-fill-available;
      }
      .header_content {
        height: auto;
        display: block !important;
        .header_content-links {
          justify-content: center;
        }
      }
    }
  }
</style>
